/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100%;
    background-image: url('assets/spmn-bckgnd.png');
    background-repeat: repeat-y;
    background-size: cover;
    color: #EEB500;
}

#title {
    margin-top: 10px;
}
h1 {
    color: #8F0913;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: -50px;
    font-family: 'Bangers', cursive;
    font-size: 3rem;
    
}
#superman-logo {
    margin-top: -50px;
    margin-left: 50px;
    float: left;
    width: 200px;
}
.content {
    overflow: scroll;
}
.buffer {
    height: 100px;
}
h2 {
    font-family: 'Bangers', cursive;
    font-size: 2.5rem;
}
.zero{
    color: gray;
}
.list-group-item-success, .list-group-item-danger, .zero {
    margin-bottom: 10px !important;
}
.date {
    float:right;
    font-style: italic;
    font-size: 0.7rem;
}
.love-its {
    float: left;
    font-size: 0.9rem;
}
.vote {
    margin-left: 20px;
    margin-top: 5px;
}